<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">

<head>
    <title th:text="#{appointments.title}">Appointments</title>
</head>

<body>
<section layout:fragment="content">

    <div class="relative flex size-full min-h-screen flex-col bg-slate-50 group/design-root overflow-x-hidden" style='font-family: Inter, "Noto Sans", sans-serif;'>
        <div class="layout-container flex h-full grow flex-col">
            <div class="px-40 flex flex-1 justify-center py-5">
                <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
                    <div class="flex flex-wrap justify-between gap-3 p-4">
                        <a href="/schedule-appointment"
                                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-8 px-4 bg-[#e7edf4] text-[#0d141c] text-sm font-medium leading-normal">
                            <span class="truncate" th:text="#{appointments.new}">New Appointment</span>
                        </a>
                    </div>
                    <h2 class="text-[#0d141c] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5" th:text="#{appointments.upcoming.title}">Upcoming Appointments</h2>
                    <div class="px-4 py-3 @container">
                        <div class="flex overflow-hidden rounded-lg border border-[#cedbe8] bg-slate-50">
                            <table class="flex-1">
                                <thead>
                                <tr class="bg-slate-50">
                                    <th class="table-4dbc3523-9768-4e2b-b967-2a7966f03924-column-120 px-4 py-3 text-left text-[#0d141c] w-[400px] text-sm font-medium leading-normal" th:text="#{appointments.table.date}">Date</th>
                                    <th class="table-4dbc3523-9768-4e2b-b967-2a7966f03924-column-240 px-4 py-3 text-left text-[#0d141c] w-[400px] text-sm font-medium leading-normal" th:text="#{appointments.table.time}">Time</th>
                                    <th class="table-4dbc3523-9768-4e2b-b967-2a7966f03924-column-480 px-4 py-3 text-left text-[#0d141c] w-[400px] text-sm font-medium leading-normal" th:text="#{appointments.table.service}">Service</th>
                                    <th class="table-4dbc3523-9768-4e2b-b967-2a7966f03924-column-600 px-4 py-3 text-left text-[#0d141c] w-60 text-sm font-medium leading-normal" th:text="#{appointments.table.status}">Status</th>
                                    <th class="table-4dbc3523-9768-4e2b-b967-2a7966f03924-column-720 px-4 py-3 text-left text-[#0d141c] w-60 text-[#49739c] text-sm font-medium leading-normal" th:text="#{appointments.table.actions}">
                                        Actions
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="border-t border-t-[#cedbe8]" th:each="a : ${upcomingAppointments}">
                                    <td class="table-4dbc3523-9768-4e2b-b967-2a7966f03924-column-120 h-[72px] px-4 py-2 w-[400px] text-[#49739c] text-sm font-normal leading-normal"
                                        th:text="${#dates.format(a.startAt, 'yyyy-MM-dd')}">2024-08-15</td>
                                    <td class="table-4dbc3523-9768-4e2b-b967-2a7966f03924-column-240 h-[72px] px-4 py-2 w-[400px] text-[#49739c] text-sm font-normal leading-normal"
                                        th:text="${#dates.format(a.startAt, 'hh:mm a')}">10:00 AM</td>
                                    <td class="table-4dbc3523-9768-4e2b-b967-2a7966f03924-column-480 h-[72px] px-4 py-2 w-[400px] text-[#49739c] text-sm font-normal leading-normal"
                                        th:text="${a.service}">Service</td>
                                    <td class="table-4dbc3523-9768-4e2b-b967-2a7966f03924-column-600 h-[72px] px-4 py-2 w-60 text-sm font-normal leading-normal">
                                        <button class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-8 px-4 bg-[#e7edf4] text-[#0d141c] text-sm font-medium leading-normal w-full">
                                            <span class="truncate" th:text="${a.status}">Status</span>
                                        </button>
                                    </td>
                                    <td class="table-4dbc3523-9768-4e2b-b967-2a7966f03924-column-720 h-[72px] px-4 py-2 w-60 text-[#49739c] text-sm font-bold leading-normal tracking-[0.015em]">
                                        <span th:text="#{appointments.actions.reschedule}">Reschedule</span>
                                        |
                                        <span th:text="#{appointments.actions.cancel}">Cancel</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <style>
                            @container(max-width:120px){.table-4dbc3523-9768-4e2b-b967-2a7966f03924-column-120{display: none;}}
                            @container(max-width:240px){.table-4dbc3523-9768-4e2b-b967-2a7966f03924-column-240{display: none;}}
                            @container(max-width:360px){.table-4dbc3523-9768-4e2b-b967-2a7966f03924-column-360{display: none;}}
                            @container(max-width:480px){.table-4dbc3523-9768-4e2b-b967-2a7966f03924-column-480{display: none;}}
                            @container(max-width:600px){.table-4dbc3523-9768-4e2b-b967-2a7966f03924-column-600{display: none;}}
                            @container(max-width:720px){.table-4dbc3523-9768-4e2b-b967-2a7966f03924-column-720{display: none;}}
                        </style>
                    </div>
                    <h2 class="text-[#0d141c] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5" th:text="#{appointments.past.title}">Past Appointments</h2>
                    <div class="px-4 py-3 @container">
                        <div class="flex overflow-hidden rounded-lg border border-[#cedbe8] bg-slate-50">
                            <table class="flex-1">
                                <thead>
                                <tr class="bg-slate-50">
                                    <th class="table-78a91709-2297-410a-971f-6f82435152e2-column-120 px-4 py-3 text-left text-[#0d141c] w-[400px] text-sm font-medium leading-normal" th:text="#{appointments.table.date}">Date</th>
                                    <th class="table-78a91709-2297-410a-971f-6f82435152e2-column-240 px-4 py-3 text-left text-[#0d141c] w-[400px] text-sm font-medium leading-normal" th:text="#{appointments.table.time}">Time</th>
                                    <th class="table-78a91709-2297-410a-971f-6f82435152e2-column-480 px-4 py-3 text-left text-[#0d141c] w-[400px] text-sm font-medium leading-normal" th:text="#{appointments.table.service}">Service</th>
                                    <th class="table-78a91709-2297-410a-971f-6f82435152e2-column-600 px-4 py-3 text-left text-[#0d141c] w-60 text-sm font-medium leading-normal" th:text="#{appointments.table.status}">Status</th>
                                    <th class="table-78a91709-2297-410a-971f-6f82435152e2-column-720 px-4 py-3 text-left text-[#0d141c] w-60 text-[#49739c] text-sm font-medium leading-normal" th:text="#{appointments.table.actions}">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="border-t border-t-[#cedbe8]" th:each="a : ${pastAppointments}">
                                    <td class="table-78a91709-2297-410a-971f-6f82435152e2-column-120 h-[72px] px-4 py-2 w-[400px] text-[#49739c] text-sm font-normal leading-normal"
                                        th:text="${#dates.format(a.startAt, 'yyyy-MM-dd')}">2024-07-10</td>
                                    <td class="table-78a91709-2297-410a-971f-6f82435152e2-column-240 h-[72px] px-4 py-2 w-[400px] text-[#49739c] text-sm font-normal leading-normal"
                                        th:text="${#dates.format(a.startAt, 'hh:mm a')}">11:00 AM</td>
                                    <td class="table-78a91709-2297-410a-971f-6f82435152e2-column-480 h-[72px] px-4 py-2 w-[400px] text-[#49739c] text-sm font-normal leading-normal"
                                        th:text="${a.service}">Service</td>
                                    <td class="table-78a91709-2297-410a-971f-6f82435152e2-column-600 h-[72px] px-4 py-2 w-60 text-sm font-normal leading-normal">
                                        <button class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-8 px-4 bg-[#e7edf4] text-[#0d141c] text-sm font-medium leading-normal w-full">
                                            <span class="truncate" th:text="${a.status}">Status</span>
                                        </button>
                                    </td>
                                    <td class="table-78a91709-2297-410a-971f-6f82435152e2-column-720 h-[72px] px-4 py-2 w-60 text-[#49739c] text-sm font-bold leading-normal tracking-[0.015em]">
                                        <span>-</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <style>
                            @container(max-width:120px){.table-78a91709-2297-410a-971f-6f82435152e2-column-120{display: none;}}
                            @container(max-width:240px){.table-78a91709-2297-410a-971f-6f82435152e2-column-240{display: none;}}
                            @container(max-width:360px){.table-78a91709-2297-410a-971f-6f82435152e2-column-360{display: none;}}
                            @container(max-width:480px){.table-78a91709-2297-410a-971f-6f82435152e2-column-480{display: none;}}
                            @container(max-width:600px){.table-78a91709-2297-410a-971f-6f82435152e2-column-600{display: none;}}
                        </style>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>