<html
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale}"
      layout:decorate="~{layout}">

<head>
    <title th:text="#{schedule.title}">Schedule Appointment</title>
</head>
<body>
<section layout:fragment="content">
    <div class="relative flex size-full min-h-screen flex-col bg-slate-50 group/design-root overflow-x-hidden" style='font-family: Inter, "Noto Sans", sans-serif;'>
        <div class="layout-container flex h-full grow flex-col">
            <div class="px-40 flex flex-1 justify-center py-5">
                <div class="layout-content-container flex flex-col w-[512px] max-w-[512px] py-5 max-w-[960px] flex-1">
                    <div class="flex flex-wrap gap-2 p-4">
                        <a class="text-[#49739c] text-base font-medium leading-normal" href="/appointments" th:text="#{schedule.breadcrumb.root}">Appointments</a>
                        <span class="text-[#49739c] text-base font-medium leading-normal">/</span>
                        <span class="text-[#0d141c] text-base font-medium leading-normal" th:text="#{schedule.breadcrumb.current}">Schedule Appointment</span>
                    </div>
                    <h2 class="text-[#0d141c] tracking-light text-[28px] font-bold leading-tight px-4 text-left pb-3 pt-5" th:text="#{schedule.heading}">Schedule Appointment</h2>
                    <p class="text-[#627384] text-base leading-normal px-4 pb-5" th:text="#{schedule.subtitle}">Select the service you want to schedule.</p>

                    <div class="flex flex-col gap-4 p-4">
                        <a th:each="service : ${T(com.milsondev.servus.enums.AppointmentServiceType).values()}"
                           th:href="@{/schedule-who(service=${service.name()})}"
                           class="flex flex-col gap-1.5 rounded-lg border border-[#cedbe8] p-4 hover:border-[#0d80f2] focus:border-[#0d80f2] focus:outline-none">
                            <p class="text-[#0d141c] text-base font-bold leading-tight" th:text="${service.getLabel()}"></p>
                            <p class="text-[#627384] text-sm leading-normal" th:text="#{'schedule.service.' + ${service.name()} + '.desc'}"></p>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>