<html
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale}"
      layout:decorate="~{layout}">

<head>
    <title th:text="#{schedule.datetime.title}">Select Date &amp; Time</title>
</head>
<body>
<section layout:fragment="content">
    <div class="relative flex size-full min-h-screen flex-col bg-slate-50 group/design-root overflow-x-hidden" style='font-family: Inter, "Noto Sans", sans-serif;'>
        <div class="layout-container flex h-full grow flex-col">
            <div class="px-40 flex flex-1 justify-center py-5">
                <div class="layout-content-container flex flex-col w-[512px] max-w-[512px] py-5 max-w-[960px] flex-1">
                    <div class="flex flex-wrap gap-2 p-4">
                        <a class="text-[#49739c] text-base font-medium leading-normal" href="/appointments" th:text="#{schedule.breadcrumb.root}">Appointments</a>
                        <span class="text-[#49739c] text-base font-medium leading-normal">/</span>
                        <span class="text-[#0d141c] text-base font-medium leading-normal" th:text="#{schedule.datetime.breadcrumb.current}">Select Date &amp; Time</span>
                    </div>
                    <h2 class="text-[#0d141c] tracking-light text-[28px] font-bold leading-tight px-4 text-left pb-3 pt-5" th:text="#{schedule.datetime.heading}">Select Date &amp; Time</h2>
                    <div class="flex flex-wrap items-center justify-center gap-6 p-4">
                        <div class="flex min-w-72 max-w-[336px] flex-1 flex-col gap-0.5">
                            <div class="flex items-center p-1 justify-between">
                                <button>
                                    <div class="text-[#0d141c] flex size-10 items-center justify-center" data-icon="CaretLeft" data-size="18px" data-weight="regular">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="currentColor" viewBox="0 0 256 256">
                                            <path d="M165.66,202.34a8,8,0,0,1-11.32,11.32l-80-80a8,8,0,0,1,0-11.32l80-80a8,8,0,0,1,11.32,11.32L91.31,128Z"></path>
                                        </svg>
                                    </div>
                                </button>
                                <p class="text-[#0d141c] text-base font-bold leading-tight flex-1 text-center pr-10">July 2024</p>
                            </div>
                            <div class="grid grid-cols-7">
                                <p class="text-[#0d141c] text-[13px] font-bold leading-normal tracking-[0.015em] flex h-12 w-full items-center justify-center pb-0.5">S</p>
                                <p class="text-[#0d141c] text-[13px] font-bold leading-normal tracking-[0.015em] flex h-12 w-full items-center justify-center pb-0.5">M</p>
                                <p class="text-[#0d141c] text-[13px] font-bold leading-normal tracking-[0.015em] flex h-12 w-full items-center justify-center pb-0.5">T</p>
                                <p class="text-[#0d141c] text-[13px] font-bold leading-normal tracking-[0.015em] flex h-12 w-full items-center justify-center pb-0.5">W</p>
                                <p class="text-[#0d141c] text-[13px] font-bold leading-normal tracking-[0.015em] flex h-12 w-full items-center justify-center pb-0.5">T</p>
                                <p class="text-[#0d141c] text-[13px] font-bold leading-normal tracking-[0.015em] flex h-12 w-full items-center justify-center pb-0.5">F</p>
                                <p class="text-[#0d141c] text-[13px] font-bold leading-normal tracking-[0.015em] flex h-12 w-full items-center justify-center pb-0.5">S</p>
                                <button class="h-12 w-full text-[#0d141c] col-start-4 text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">1</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">2</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">3</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">4</div>
                                </button>
                                <button class="h-12 w-full text-slate-50 text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full bg-[#0d80f2]">5</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">6</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">7</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">8</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">9</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">10</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">11</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">12</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">13</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">14</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">15</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">16</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">17</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">18</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">19</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">20</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">21</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">22</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">23</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">24</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">25</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">26</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">27</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">28</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">29</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">30</div>
                                </button>
                            </div>
                        </div>
                        <div class="flex min-w-72 max-w-[336px] flex-1 flex-col gap-0.5">
                            <div class="flex items-center p-1 justify-between">
                                <p class="text-[#0d141c] text-base font-bold leading-tight flex-1 text-center pl-10">August 2024</p>
                                <button>
                                    <div class="text-[#0d141c] flex size-10 items-center justify-center" data-icon="CaretRight" data-size="18px" data-weight="regular">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="currentColor" viewBox="0 0 256 256">
                                            <path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path>
                                        </svg>
                                    </div>
                                </button>
                            </div>
                            <div class="grid grid-cols-7">
                                <p class="text-[#0d141c] text-[13px] font-bold leading-normal tracking-[0.015em] flex h-12 w-full items-center justify-center pb-0.5">S</p>
                                <p class="text-[#0d141c] text-[13px] font-bold leading-normal tracking-[0.015em] flex h-12 w-full items-center justify-center pb-0.5">M</p>
                                <p class="text-[#0d141c] text-[13px] font-bold leading-normal tracking-[0.015em] flex h-12 w-full items-center justify-center pb-0.5">T</p>
                                <p class="text-[#0d141c] text-[13px] font-bold leading-normal tracking-[0.015em] flex h-12 w-full items-center justify-center pb-0.5">W</p>
                                <p class="text-[#0d141c] text-[13px] font-bold leading-normal tracking-[0.015em] flex h-12 w-full items-center justify-center pb-0.5">T</p>
                                <p class="text-[#0d141c] text-[13px] font-bold leading-normal tracking-[0.015em] flex h-12 w-full items-center justify-center pb-0.5">F</p>
                                <p class="text-[#0d141c] text-[13px] font-bold leading-normal tracking-[0.015em] flex h-12 w-full items-center justify-center pb-0.5">S</p>
                                <button class="h-12 w-full text-[#0d141c] col-start-4 text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">1</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">2</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">3</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">4</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">5</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">6</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">7</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">8</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">9</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">10</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">11</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">12</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">13</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">14</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">15</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">16</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">17</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">18</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">19</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">20</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">21</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">22</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">23</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">24</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">25</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">26</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">27</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">28</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">29</div>
                                </button>
                                <button class="h-12 w-full text-[#0d141c] text-sm font-medium leading-normal">
                                    <div class="flex size-full items-center justify-center rounded-full">30</div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <h3 class="text-[#0d141c] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4" th:text="#{schedule.datetime.availableTimes}">Available Times</h3>
                    <div class="flex flex-wrap gap-3 p-4">
                        <label
                                class="text-sm font-medium leading-normal flex items-center justify-center rounded-lg border border-[#cedbe8] px-4 h-11 text-[#0d141c] has-[:checked]:border-[3px] has-[:checked]:px-3.5 has-[:checked]:border-[#0d80f2] relative cursor-pointer"
                        >
                            9:00 AM
                            <input type="radio" class="invisible absolute" name="b8a44f94-ab3b-410f-ad83-561df070347b" />
                        </label>
                        <label
                                class="text-sm font-medium leading-normal flex items-center justify-center rounded-lg border border-[#cedbe8] px-4 h-11 text-[#0d141c] has-[:checked]:border-[3px] has-[:checked]:px-3.5 has-[:checked]:border-[#0d80f2] relative cursor-pointer"
                        >
                            9:30 AM
                            <input type="radio" class="invisible absolute" name="b8a44f94-ab3b-410f-ad83-561df070347b" />
                        </label>
                        <label
                                class="text-sm font-medium leading-normal flex items-center justify-center rounded-lg border border-[#cedbe8] px-4 h-11 text-[#0d141c] has-[:checked]:border-[3px] has-[:checked]:px-3.5 has-[:checked]:border-[#0d80f2] relative cursor-pointer"
                        >
                            10:00 AM
                            <input type="radio" class="invisible absolute" name="b8a44f94-ab3b-410f-ad83-561df070347b" />
                        </label>
                        <label
                                class="text-sm font-medium leading-normal flex items-center justify-center rounded-lg border border-[#cedbe8] px-4 h-11 text-[#0d141c] has-[:checked]:border-[3px] has-[:checked]:px-3.5 has-[:checked]:border-[#0d80f2] relative cursor-pointer"
                        >
                            10:30 AM
                            <input type="radio" class="invisible absolute" name="b8a44f94-ab3b-410f-ad83-561df070347b" />
                        </label>
                        <label
                                class="text-sm font-medium leading-normal flex items-center justify-center rounded-lg border border-[#cedbe8] px-4 h-11 text-[#0d141c] has-[:checked]:border-[3px] has-[:checked]:px-3.5 has-[:checked]:border-[#0d80f2] relative cursor-pointer"
                        >
                            11:00 AM
                            <input type="radio" class="invisible absolute" name="b8a44f94-ab3b-410f-ad83-561df070347b" />
                        </label>
                        <label
                                class="text-sm font-medium leading-normal flex items-center justify-center rounded-lg border border-[#cedbe8] px-4 h-11 text-[#0d141c] has-[:checked]:border-[3px] has-[:checked]:px-3.5 has-[:checked]:border-[#0d80f2] relative cursor-pointer"
                        >
                            11:30 AM
                            <input type="radio" class="invisible absolute" name="b8a44f94-ab3b-410f-ad83-561df070347b" />
                        </label>
                        <label
                                class="text-sm font-medium leading-normal flex items-center justify-center rounded-lg border border-[#cedbe8] px-4 h-11 text-[#0d141c] has-[:checked]:border-[3px] has-[:checked]:px-3.5 has-[:checked]:border-[#0d80f2] relative cursor-pointer"
                        >
                            1:00 PM
                            <input type="radio" class="invisible absolute" name="b8a44f94-ab3b-410f-ad83-561df070347b" />
                        </label>
                        <label
                                class="text-sm font-medium leading-normal flex items-center justify-center rounded-lg border border-[#cedbe8] px-4 h-11 text-[#0d141c] has-[:checked]:border-[3px] has-[:checked]:px-3.5 has-[:checked]:border-[#0d80f2] relative cursor-pointer"
                        >
                            1:30 PM
                            <input type="radio" class="invisible absolute" name="b8a44f94-ab3b-410f-ad83-561df070347b" />
                        </label>
                        <label
                                class="text-sm font-medium leading-normal flex items-center justify-center rounded-lg border border-[#cedbe8] px-4 h-11 text-[#0d141c] has-[:checked]:border-[3px] has-[:checked]:px-3.5 has-[:checked]:border-[#0d80f2] relative cursor-pointer"
                        >
                            2:00 PM
                            <input type="radio" class="invisible absolute" name="b8a44f94-ab3b-410f-ad83-561df070347b" />
                        </label>
                        <label
                                class="text-sm font-medium leading-normal flex items-center justify-center rounded-lg border border-[#cedbe8] px-4 h-11 text-[#0d141c] has-[:checked]:border-[3px] has-[:checked]:px-3.5 has-[:checked]:border-[#0d80f2] relative cursor-pointer"
                        >
                            2:30 PM
                            <input type="radio" class="invisible absolute" name="b8a44f94-ab3b-410f-ad83-561df070347b" />
                        </label>
                        <label
                                class="text-sm font-medium leading-normal flex items-center justify-center rounded-lg border border-[#cedbe8] px-4 h-11 text-[#0d141c] has-[:checked]:border-[3px] has-[:checked]:px-3.5 has-[:checked]:border-[#0d80f2] relative cursor-pointer"
                        >
                            3:00 PM
                            <input type="radio" class="invisible absolute" name="b8a44f94-ab3b-410f-ad83-561df070347b" />
                        </label>
                        <label
                                class="text-sm font-medium leading-normal flex items-center justify-center rounded-lg border border-[#cedbe8] px-4 h-11 text-[#0d141c] has-[:checked]:border-[3px] has-[:checked]:px-3.5 has-[:checked]:border-[#0d80f2] relative cursor-pointer"
                        >
                            3:30 PM
                            <input type="radio" class="invisible absolute" name="b8a44f94-ab3b-410f-ad83-561df070347b" />
                        </label>
                    </div>
                    <div class="flex px-4 py-3 justify-between">
                        <a href="/schedule-who"
                           class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#0d80f2] text-slate-50 text-sm font-bold leading-normal tracking-[0.015em]">
                            <span class="truncate" th:text="#{common.back}">Back</span>
                        </a>
                        <a th:href="@{'/schedule-confirm-details'(service=${service}, applicantType=${applicantType})}"
                           class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#0d80f2] text-slate-50 text-sm font-bold leading-normal tracking-[0.015em]">
                            <span class="truncate" th:text="#{schedule.next}">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
